@model IEnumerable<Elearning.Cour>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Laboratoire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quiz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Video)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Niveau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotesDeCours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idEnseignant)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Laboratoire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exercice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quiz)
        </td>
        <td>
            <a href="@item.Video">Vidéo</a>

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Niveau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NotesDeCours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idEnseignant)
        </td>
        <td>
            |
            <hr />
        </td>
    </tr>
    }
    
    </table>
</body>
</html>
